@model SurveyCreatedViewModel

<link rel="stylesheet" type="text/css" href="~/css/survey.css">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="px-0 pt-4 pb-0 mt-3 mb-3">
                <h1 id="heading">Oopss, we have an unexpected guest</h1>
            </div>
        </div>
    </div>
</div>


