
<div class="container" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <a href="./single.html">
                <div class="hero-img">
                    <img src="~/images/ekran.jpeg">
                </div>
            </a>
        </div>

        <div class="col-lg-9">
            <div class="hero-title">
                <a asp-action="CreateSurvey" asp-controller="Survey">
                    <h1>Create Survey</h1>
                </a>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="hero-meta">
                <div class="author">
                    <div class="author-img"><img src="~/images/foti.png"></div>
                    <div class="author-meta">
                        <span class="author-name">Sümeyye Bayraktar</span>
                        <span class="author-tag">Software Engineer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>